* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* REUSE CODE  */
.btn {
    padding: 12px 30px;
    background-color: #0a75d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

/* REUSE CODE  */





.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/backgroundPic.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 8%;

}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    margin-right: 40px;
}

nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.logo {
    width: 5%;
}



.login {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}



.Visit {
    margin-top: 10px;
}

.nature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.nature-text h1 {
    font-size: 60px;
    color: rgb(241, 232, 232);
}

.nature-text p {
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

/* START ABOUT SECTION  */
section {
    margin: 120px 8%;
}

.content {
    display: flex;
}

.with50 {
    width: 50%;
}

.site-Img {
    text-align: center;
}

.container h1 {
    font-size: 60px;
}

.container p {
    margin-bottom: 20px;
    margin-top: 30px;
    line-height: 1.5rem;
}

/* START ABOUT SECTION  */


/* START SERVICE SECTION  */

.service-content {
    text-align: center;
}

.service-content h2 {
    font-size: 40px;
}

.service-content p {
    width: 60%;
    margin: 10px auto;
    line-height: 1.5rem;
}

.d_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    background-color: #ff595990;
    padding: 50px;
    margin: 30px 30px;
}

.item-con {
    margin-left: 15px;
}

.item-con h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.item-con p {
    line-height: 1.5rem;
    text-align: justify;
}

/* END SERVICE SECTION  */


.img-gll {
    width: 33%;

}

.img-album {
    margin-top: 50px;
}

.img-gll img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.pic-block {
    margin: 0 10px;
}

.border-width {
    border: 2px solid gray;
    margin: 0 115px;
    padding-bottom: 20px;
}

.border-width h3 {
    font-size: 25px;
    margin: 10px 0 15px 10px;
}

.border-width p {
    margin: 10px 0 15px 10px;
    line-height: 1.5rem;
}

.natureBuity {
    color: red;
    border-bottom: 2px solid red;
    margin: 10px 0 15px 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;

}