* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* REUSE CODE  */
.btn {
    padding: 12px 30px;
    background-color: #0a75d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

/* REUSE CODE  */





.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/backgroundPic.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 8%;

}

nav ul {
    display: flex;
}

nav li {
    list-style-type: none;
    margin-right: 40px;
}

nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

.logo {
    width: 5%;
}



.login {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}



.Visit {
    margin-top: 10px;
}

.nature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
}

.nature-text h1 {
    font-size: 60px;
    color: rgb(241, 232, 232);
}

.nature-text p {
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

/* START ABOUT SECTION  */
section {
    margin: 80px 8%;
}

.content {
    display: flex;
}

.with50 {
    width: 50%;
}

.site-Img {
    text-align: center;
}

.about h1 {
    font-size: 60px;
}

.about p {
    margin-bottom: 20px;
    margin-top: 30px;
}

/* START ABOUT SECTION  */